body {
  margin: 30px;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  background-color: #336699;
  color: white;
}

form {
  width: 35em;
  margin: 0 auto;
  padding: 50px 60px;
  overflow: auto;
  color: #3e4a49;
  background-color: orange;
  border-radius: 10px; 
  box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
}

fieldset {
  padding: 0 20px 20px;
  margin: 0 0 30px;
  border: 2px solid #593131;
  background: #eae1c0;
  border-radius: 10px;
}

legend {
  color: #fff;
  background: #8fb98b;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3em; 
  text-align: center;
  margin: 0;
  width: 9em;
  border: 2px solid #593131;
  border-radius: 5px;
  font-weight: bold;
}
/* The field labels */

label {
  display: block;
  float: left;
  clear: left;
  text-align: left;
  width: 40%;
  padding: .4em 0 0 0;
  margin: .15em .5em 0 0;
}
/* Style fields */

input, select, textarea {
  display: block;
  margin: 0;
  padding: .4em;
  width: 50%;
}

input, textarea, .date {
  border: 2px solid #eae1c0;
  border-radius: 5px;
  background: #fff;
}

input {
  font-size: .9em;
}

select {
  padding: 0;
  margin-bottom: 2.5em;
  position: relative;
  top: .7em;
}

textarea {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: .9em;
  height: 5em;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
  color: black;
}

/* CSS de submit button */

input:valid, textarea:valid {
  background: #efe;
}
/* Submit button */

input[type="submit"] {
  margin: 50px auto 0 auto;
  width: 12em;
  padding: 10px;
  border: 2px solid #593131;
  border-radius: 10px;
  color: #fff;
  background: #593131;
  font-size: 1.2em;
  font-weight: bold;
}

input[type="submit"]:hover, input[type="submit"]:active {
  cursor: pointer;
  background: #fff;
  color: #593131;
}

input[type="submit"]:active {
  background: #eee;
}